* {
    box-sizing: border-box;
}

@font-face {
    font-family: calc;
    src: url('fonts/digital-7.ttf');
}

body {
    background-color: #E4F1FE;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Raleway', serif;
    font-size: 30px;
    color: #484c61;
    word-spacing: -0.15em;
    font-weight: 300;
}

h1 span {
    font-weight: 900;
}

#main {
    width: 356px;
    height: 300px;
    margin: 50px auto 0 auto;
    padding: 10px 10px 260px 10px;
    background: linear-gradient(#9dd2ea, #8bceec);
    border-radius: 3px;
    box-shadow: 0px 4px #51869E, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

#display {
    font-family: calc, sans-serif;
    height: 73px;
    width: 230px;
    float: left;
    margin: 0 22px 5px 0;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#output {
    color: #fff;
    height: 45px;
    font-size: 32px;
    padding: 10px 20px 5px 10px;
    text-align: right;

}

#output-history {
    color: #fff;
    font-size: 16px;
    text-align: right;
    padding: 0 20px 10px 10px;
}

.reset {
    background-color: #e5ffec !important;
    box-shadow: 0px 4px #99B3A0 !important;

}

.symbol {
    background-color: #e9e6ff !important;
    box-shadow: 0px 4px #9D9AB3 !important;
}

.equal {
    background-color: #fdffb8 !important;
    box-shadow: 0px 4px #B1B36C !important;
}

.decimal {
    background-color: #ffe6e6 !important;
    box-shadow: 0px 4px #B39A9A !important;
}

.button {
    font-family: 'Roboto', serif;
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 77px;
    height: 36px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #888;
    line-height: 36px;
    text-align: center;
    -webkit-user-select: none;
    transition: all 0.2s ease;
}

.button:hover {
    background: #f26969 !important;
    box-shadow: 0px 4px #A61D1D !important;
    color: white;
}

.button:active {
    box-shadow: 0 0 #717a33 !important;
    top: 4px !important;
}
